/* Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* PrimeIcons CSS */
@import 'primeicons/primeicons.css';

/* Almarai Font */
@font-face {
  font-family: 'Almarai' !important;
  src: url('assets/fonts/Almarai/Almarai-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Almarai';
  src: url('assets/fonts/Almarai/Almarai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Almarai';
  src: url('assets/fonts/Almarai/Almarai-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Almarai';
  src: url('assets/fonts/Almarai/Almarai-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

